<td>
	<%= link_to(book.user) do %>
		<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %><br>
		<%= book.user.name %>
	<% end %>
</td>
<td>
	<%= link_to book.title, book, class: "book_#{book.id}" %>
</td>
<td>
	<%= book.body %>
</td>
<div class="favorite-link" id="favorite-link-<%= book.id %>">
<% if book.favorited_by?(current_user) %>
	<td>
		<%= link_to book_favorites_path(book), method: :delete, remote: true do %>
			<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			<%= book.favorites.count %>
		<% end %>
	</td>
<% else %>
	<td>
		<%= link_to book_favorites_path(book), method: :post,remote: true do %>
			<i class="fa fa-heart-o" aria-hidden="true"></i>
			<%= book.favorites.count %>
		<% end %>
	</td>
<% end %>
</div>
<td>コメント数: <%= book.post_comments.count %></td>