<div class="row">
	<div class="col-xs-3">

		<%= render 'users/profile', user: @book.user,follow: 'users/follow', unfollow: 'users/unfollow' %>

		<%= render 'books/newform',book: @newbook %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tr>
				<%= render 'book',book: @book %>
			</tr>
		</table>
			<%= render 'comments' %>
		<div class="row">
			<%= form_with(model: [@book,@post_comment], remote: true) do |f| %>
				<div class="col-sm-9">
					<%= f.text_area :comment, rows:'5', class: "form-control" %>
				</div>
				<br><br><br><br>
				<%= f.submit "送信", class: "btn-sm" %>
			<% end %>
		</div>
	</div>
</div>


